!!!5

html#html(lang="es")
  head
    title( 'Aplicaci&oacute;n' )
    link( href='static/css/app.css', rel='stylesheet', type='text/css' )

  body#body
    #wrapper
      block content
        h1 GOOOOhome

    script( src='static/js/app.core.js', type='text/javascript' )